<%= render "shared/page_title", title: @recipe.name %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@recipe.chef, size:200), chef_path(@recipe.chef) %>
    <p>
      <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
    </p>
  </div>
  <div class="col-md-8 pull-left">
    <% if logged_in? and (@recipe.chef == current_user || current_user.admin?) %>
      <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
    <% end %>
    <% if logged_in? and current_user.admin? %>
      <%= link_to "[Delete Recipe]", @recipe, method: :delete, data: {confirm: "Are you sure?" } %>
    <% end %>
    <h3><%= @recipe.summary %></h3>
    <div class="show_recipe">
      <%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
    </div>
    <% if @recipe.styles.any? %>
      <p>Style: <%= render @recipe.styles %></p>
    <% end %>
    <% if @recipe.ingredients.any? %>
      <p>Ingredients: <%= render @recipe.ingredients %></p>
    <% end %>
    <div class="well">
      <p>
        <strong>Steps:</strong>
        <%= simple_format(@recipe.description) %>
        <div class="pull-right">
          <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= @recipe.thumbs_up_total %>
          <% end %> &nbsp&nbsp&nbsp&nbsp
          <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= @recipe.thumbs_down_total %>
          <% end %>
        </div>
      </p>
    </div>
  </div>
</div>
<hr>
<div class="col-md-6">
  <header>
    <h2>Comments</h2>
  </header>
  <div class="col-md-10">
    <% if @recipe.comments.any? %>
      <% @recipe.comments.persisted.each do |comment| %>
        <div class="comment-body">
          <%= comment.body %>
        </div>
        <div class="comment-time">
          <%= time_ago_in_words(comment.created_at) %>
          ago by <%= comment.chef.chefname %>
        </div>
        <hr>
      <% end %>
    <% else %>
      <p>There are no comments for this recipe.</p>
    <% end %>
  </div>
</div>

<div class="col-md-6">
  <%= form_for [@recipe, @comment], :html => {class: "form-horizontal", role: "form"} do |f| %>
    <% if @comment.errors.any? %>
      <div class="panel panel-danger col-md-offset-1">
        <div class="panel-heading">
          <h2 class="panel-title">
            <%= pluralize(@comment.errors.count, "error") %>
            prohibited this article from being saved:
          </h2>
          <div class="panel-body">
            <ul>
              <%= @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %> </li>
              <% end> %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :body, 'New Comment' %>
      </div>
      <div class="col-md-10">
        <%= f.text_area :body, rows: 10, class: 'form-control', placeholder: 'Your comment...' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit "Add Comment", class: 'btn btn-primary btn-lg pull-right' %>
      </div>
    </div>
  <% end %>
</div>


<h5><%= link_to "Return to Recipes Listing", recipes_path, class: "btn btn-warning btn-small" %></h5>